.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

.dark-mode .switch {
    background-color: #555555;
}

.dark-mode .switch-slider {
    background-color: #888888;
}

.dark-mode .switch-slider:before {
    background-color: #333333;
}

.dark-mode input:checked + .switch-slider {
    background-color: #4CAF50;
}
