.custom-select {
    position: relative;
    display: inline-block;
    width: 100%; /* This ensures it takes up all of its allocated space */
}

.select-header {
    cursor: pointer;
    padding: 10px 10px; /* Increased top and bottom padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    white-space: normal; /* Changed from nowrap to normal */
    display: block;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select-header.open {
    border-top: none;
}

.options-list {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%; /* Changed from min-width to width */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px 4px 0 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.options-list li {
    padding: 7px;
    cursor: pointer;
    white-space: normal; /* Added to allow text wrapping */
    word-break: break-word; /* Added to prevent overflow */
}

.options-list li:hover {
    background-color: #f0f0f0;
}

.options-list li.disabled {
    color: #ccc;
    cursor: not-allowed;
}

.custom-select-container {
    width: 100%;
}

.selected-options-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
}

.selected-option {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    margin: 3px;
    padding: 5px 5px; /* Increased top and bottom padding */
    background-color: #e0e0e0;
    border-radius: 5px;
    font-size: 1em;
}
.remove-option {
    margin-left: 5px;
    font-weight: bold;
}

.selected-option:hover {
    opacity: 0.8;
}

/* Dark mode */
.dark-mode .select-header {
    border: 1px solid #6d7791; /* Changed to title of section text color */
    background-color: #121212; /* Changed to dark mode background */
    color: #ffffff; /* Changed to dark mode text color */
}

.dark-mode .options-list {
    background-color: #212121; /* Changed to box background color */
    border-color: #6d7791; /* Changed to title of section text color */
}

.dark-mode .options-list li:hover {
    background-color: #263036; /* Changed to blue 1 color */
}

.dark-mode .selected-options-box {
    border-color: #6d7791; /* Changed to title of section text color */
    background-color: #212121; /* Changed to box background color */
}

.dark-mode .selected-option {
    background-color: #263036; /* Changed to blue 1 color */
    color: #ffffff; /* Changed to dark mode text color */
}

/* Light mode */
.light-mode .select-header {
    border: 1px solid #284bff; /* Kept main color */
    background-color: #f5f4f7; /* Changed to light mode background */
    color: #000000; /* Changed to light mode text color */
}

.light-mode .options-list {
    background-color: #ffffff; /* Changed to box background light mode */
    border-color: #284bff; /* Kept main color */
}

.light-mode .options-list li:hover {
    background-color: #8d9fff; /* Changed to second main color */
}

.light-mode .selected-options-box {
    border: 1px solid #284bff; /* Kept main color */
    background-color: #f5f4f7; /* Changed to light mode background */
}

.light-mode .selected-option {
    background-color: #8d9fff; /* Changed to second main color */
    color: #000000; /* Changed to light mode text color */
}