.light-mode .text-capsule {
    background-color: #fff;
    color: #284bff;
}

.light-mode .text-capsule:hover {
    background-color: #ffffff93;
    color: #284bff;
}

.light-mode .text-capsule.selected {
    background-color: #284bff;
    color: #fff;
}