.dates-carousel-container {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 20px; /* Reduced from 60px to 20px */
}

.dates-carousel {
    display: flex;
    scroll-behavior: smooth;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.dates-carousel::-webkit-scrollbar {
    display: none;
}

/* Dark mode */
.dark-mode .text-capsule {
    background-color: #212121; /* box background */
    color: #284bff; /* blue 2 for text */
}

.dark-mode .text-capsule:hover {
    background-color: rgba(40, 75, 255, 0.2); /* main color with opacity */
    color: #5cc5ff; /* blue 3 */
}

.dark-mode .text-capsule.selected {
    background-color: #284bff; /* main color */
    color: #ffffff; /* text color */
}

/* Light mode */
.light-mode .text-capsule {
    background-color: #ffffff; /* box background light mode */
    color: #284bff; /* main color */
}

.light-mode .text-capsule:hover {
    background-color: rgba(141, 159, 255, 0.2); /* second main color with opacity */
    color: #284bff; /* main color */
}

.light-mode .text-capsule.selected {
    background-color: #284bff; /* main color */
    color: #ffffff; /* text color */
}
