.foldable-list-container{
    margin-top: 60px;
    margin-right: 20px;
    margin-left: 20px;
    width: calc(100% - 40px);
}

.foldable-list-item {
    margin: 5px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.foldable-list-toggle {
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 50px; /* Changed from fixed height to min-height */
    padding: 10px; /* Changed padding to be equal on all sides */
    box-sizing: border-box;
    flex-grow: 1;
}

.foldable-list-toggle .toggle-text {
    flex: 0 1 30%;
    white-space: normal; /* Changed from wrap to normal */
    overflow: hidden;
    text-overflow: ellipsis;
}

.foldable-list-toggle .custom-select {
    flex: 0 0 70%; /* Fixed width of 70% */
    max-width: 70%; /* Ensures it doesn't grow beyond 70% */
}

.foldable-list-toggle::before {
    content: '▶';
    display: inline-block;
    margin-right: 5px;
    transition: transform 0.3s;
}

.foldable-list-toggle.open::before {
    transform: rotate(90deg);
}

.foldable-list-toggle.last-item::before {
    content: none;
}

.foldable-list-toggle.last-item {
    cursor: default;
}

.foldable-list-content {
    padding-left: 50px;
    width: 100%;
}

.foldable-list-content.last-item {
    width: 100%;
    flex-grow: 1;
    margin-left: 0;
    padding-left: 0;
}

.foldable-list-content.last-item .select-value-container {
    margin-top: 0;
}

/* Dark mode */
.dark-mode .foldable-list-toggle {
    background-color: #323a64;
    color: #284bff;
    border: 1px solid #284bff;
    padding: 0 10px; /* Added padding */
}

.dark-mode .foldable-list-toggle:hover {
    background-color: rgba(40, 76, 255, 0.632);
}

/* Light mode */
.light-mode .foldable-list-toggle {
    background-color: #fff;
    color: #284bff;
    border: 1px solid #284bff;
    padding: 0 10px; /* Added padding */
}

.light-mode .foldable-list-toggle:hover {
    background-color: #ffffff93;
}
