.foldable-list-container{
    margin-top: 60px;
    margin-right: 20px;
    margin-left: 20px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
}

.foldable-list-item {
    margin: 5px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.foldable-list-toggle {
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 50px; /* Changed from fixed height to min-height */
    padding: 10px; /* Changed padding to be equal on all sides */
    box-sizing: border-box;
    flex-grow: 1;
    border-radius: 10px;
}

.foldable-list-toggle .toggle-text {
    flex: 0 1 30%;
    white-space: normal; /* Changed from wrap to normal */
    overflow: hidden;
    text-overflow: ellipsis;
}

.foldable-list-toggle .custom-select {
    flex: 0 0 100%; /* Fixed width of 70% */
    max-width: 100%; /* Ensures it doesn't grow beyond 70% */
    margin-top: 10px;
    margin-bottom: 10px;
}

.foldable-list-toggle::before {
    content: '▶';
    display: inline-block;
    margin-right: 5px;
    transition: transform 0.3s;
}

.foldable-list-toggle.open::before {
    transform: rotate(90deg);
}

.foldable-list-toggle.array-item::before {
    content: none;
}

.foldable-list-toggle.array-item {
    cursor: default;
}

.foldable-list-content {
    padding-left: 50px;
    width: 100%;
}

.foldable-list-content.array-item {
    width: 100%;
    flex-grow: 1;
    margin-left: 0;
    padding-left: 0;
}

.foldable-list-content.array-item .select-value-container {
    margin-top: 0;
}

/* Dark mode */
.dark-mode .foldable-list-toggle {
    background-color: #212121; /* Changed to box background color */
    color: #ffffff; /* Changed to text color */
    border: 1px solid #284bff; /* Kept main color for border */
    padding: 0 10px;
}

.dark-mode .foldable-list-toggle:hover {
    background-color: #263036; /* Changed to blue 1 for hover effect */
}

/* Light mode */
.light-mode .foldable-list-toggle {
    background-color: #ffffff; /* Changed to box background light mode color */
    color: #000000; /* Changed to text light mode color */
    border: 1px solid #284bff; /* Kept main color for border */
    padding: 0 10px;
}

.light-mode .foldable-list-toggle:hover {
    background-color: #f5f4f7; /* Changed to background light mode color for hover effect */
}
