.select-value-container {
    margin-top: 0;
    padding: 5px 10px;
}

.select-value-select {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: none;
    background-color: transparent;
}

.select-value-description {
    margin-top: 10px;
    font-size: 14px;
}

.select-value-description strong {
    font-weight: bold;
}

/* Dark mode */
.dark-mode .select-value-container {
    background-color: #323a64;
}

.dark-mode .select-value-select {
    color: #fff;
}

/* Light mode */
.light-mode .select-value-container {
    background-color: #fff;
}

.light-mode .select-value-select {
    color: #000;
}
